<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <script src="lib/angular/angular.js"></script>
  <script src="app.js"></script><!-- it's controller-->
  <script src="phone-list.component.js"></script>
  </head>
  <body ng-controller="PhoneListController">

    <p>Nothing here {{'yet' + '!'}}</p>
    <p>1 + 2 = {{1 + 2}}</p>
    <ul>
      <li>
        <span>Nexus S</span>
        <p>
          Fast just got faster with Nexus S.
        </p>
      </li>
      <li>
        <span>Motorola XOOM™ with Wi-Fi</span>
        <p>
          The Next, Next Generation tablet.
        </p>
      </li>
    </ul>

    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>

    <p>Total number of phones: {{phones.length}}</p>
    <p>Hello, {{name}}!</p>
    <table>
      <tr><th>Row number</th></tr>
      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
        <td ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7]">row: {{i+1}} col:{{j+1}}</td>
      </tr>
    </table>

    <phone-list></phone-list>

  </body>
</html>
